{% extends "bookings/base.html" %}
{% load i18n static %}
{% block navbar %}
{% if request.user.is_active and request.user.is_staff %}
      <a class="p-2 text-dark" href="{% url 'admin_reports' %}">Admin</a>
{% endif %}
      <a class="p-2 text-dark" href="#groups">Groups</a>
      <a class="p-2 text-dark" href="#bookings">Bookings</a>
{{ block.super }}{% endblock %}

{% block content %}
  <details class="card mb-3">
    <summary class="card-header">{% trans "Questions?" context "Announcement Title" %}</summary>
    <div class="card-body">
      {{ announcement|safe }}
    </div>
  </details>

{% if declined_bookings_count %}
  <div class="card border-danger" style="max-width: 30rem;">
    <div class="card-body">
      <h5 class="card-title">{% blocktrans count counter=declined_bookings_count %}{{ declined_bookings_count }} invalid booking pending removal{% plural %}{{ declined_bookings_count }} invalid bookings pending removal{% endblocktrans %}</h5>
      <p class="card-text">Please don't do this again!</p>
    </div>
  </div>
{% endif %}
  <h4 id="groups" class="mt-4">Groups List</h5>
  <div class="table-responsive">
    <table class="table table-sm table-striped table-hover text-nowrap">
      <thead>
        <tr>
          <th scope="col">Group</th>
          <!--<th scope="col">Member</th>-->
          <th scope="col">Confirmed Spot</th>
        </tr>
      </thead>
      <tbody>
{% for g in groups_list %}
        <tr class="{% if g.first_booking %}table-warning{% endif %}">
          <th scope="row">{{ g.name }}</th>
          <td>{% if g.first_booking %}{{ g.first_booking.booking.spot_start }}{% else %}None{% endif %}{% if g.declined_bookings_count %} <strong class="text-danger">DUP BOOKING!</strong>{% endif %}</td>
        </tr>{% endfor %}
      </tbody>
    </table>
  </div>
  <h4 id="bookings" class="mt-4">Bookings List</h5>
  <div class="table-responsive">
    <table class="table table-sm table-striped text-nowrap table-hover">
      <thead>
        <tr>
          <th scope="col">Date</th>
          <th scope="col">Time</th>
          <th scope="col">Group</th>
        </tr>
      </thead>
      <tbody>{# we assume that it's in the same day #}
{% for b in bookings_list %}
        <tr><td>{{ b.booking.spot_start|date:"D, M j" }}</td><td>{{ b.booking.spot_start|date:"P" }}-{{ b.booking.spot_end|date:"P" }}</td><td>{{ b.approval_group.name }}</td></tr>{% endfor %}
      </tbody>
    </table>
  </div>
{% endblock %}

{% block footer %}{{ block.super }} <a href="?geek=yes" class="text-muted">Be geek!</a>{% endblock %}