                <tr class="model-sc-invitees">
                    <th scope="row"><a href="{% url 'admin:webhook_calendly_invitee_changelist' %}">Manage Invitees</a></th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>
                <tr class="model-sc-bookings">
                    <th scope="row"><a href="{% url 'admin:bookings_booking_changelist' %}">Manage Bookings</a></th>
                    <td>&nbsp;</td>
                    <td>&nbsp;</td>
                </tr>